ul {
  display: grid;
  //rows / columns
  grid-template: 1fr / 1fr 1fr;
}

.logo {
  //grid-row-start / grid-column-start / grid-row-end / grid-column-end
  grid-area: 1 / 1 / 2 / 3;
  font-family: var(--font-family-rancho);
  color: var(--primary);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accommodations {
  //grid-row-start / grid-column-start / grid-row-end / grid-column-end
  grid-area: 2 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--lightwhite);
  &:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: all 0.4s;
  }
}

.activities {
  //grid-row-start / grid-column-start / grid-row-end / grid-column-end
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--lightwhite);
  &:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: all 0.4s;
  }
}
