<div class="filters-container">
  <h3 class="filters-title p-10">Filters</h3>
  <button class="filters-icons">
    <fa-icon [icon]="economicIcon" class="fa-icons mr-10"></fa-icon>Economic
  </button>
  <button class="filters-icons">
    <fa-icon [icon]="familyIcon" class="fa-icons mr-10"></fa-icon>Family
  </button>
  <button class="filters-icons">
    <fa-icon [icon]="romanticIcon" class="fa-icons mr-10"></fa-icon>Romantic
  </button>
  <button class="filters-icons">
    <fa-icon [icon]="petsIcon" class="fa-icons mr-10"></fa-icon>Pets allowed
  </button>
</div>
