<div class="filters-container pt-20">
  <h3 class="filters-title p-10">Filters</h3>
  <a class="filters-icons">
    <fa-icon [icon]="economicIcon" class="fa-icons mr-10"></fa-icon>Economic
  </a>
  <a class="filters-icons">
    <fa-icon [icon]="familyIcon" class="fa-icons mr-10"></fa-icon>Family
  </a>
  <a class="filters-icons">
    <fa-icon [icon]="romanticIcon" class="fa-icons mr-10"></fa-icon>Romantic
  </a>
  <a class="filters-icons">
    <fa-icon [icon]="petsIcon" class="fa-icons mr-10"></fa-icon>Pets allowed
  </a>
</div>
