<footer>
  <div>
    <h3 class="p-10 m-15 pt-40">About us</h3>
    <ul>
      <li class="pl-10 m-15"><a>Operation of the site</a></li>
      <li class="pl-10 m-15"><a>General terms of sales</a></li>
      <li class="pl-10 m-15"><a>Data and privacy</a></li>
    </ul>
  </div>

  <div>
    <h3 class="p-10 m-15 pt-30">Our accommodations</h3>
    <ul>
      <li class="pl-10 m-15"><a>Quality charter</a></li>
      <li class="pl-10 m-15"><a>Submit your hotel</a></li>
    </ul>
  </div>

  <div>
    <h3 class="p-10 m-15 pt-30">Assistance</h3>
    <ul>
      <li class="pl-10 m-15"><a>Help center</a></li>
      <li class="pl-10 m-15"><a>Contact us</a></li>
    </ul>
  </div>
</footer>
